a:first-child {
    display: none;
}

body, html {
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#background {
    background-image: url(svg/Background.svg);
    background-size: cover;
    height: 100%;
    width: 100%;
    outline: 20px solid white;
    outline-offset: -20px;
}

.logo {
    position: absolute;
    left: 70%;
    top: 32%;
    right: 6.875%;
    bottom: 40%;
    background-image: url(svg/Logo_IBS.svg);
    background-repeat: no-repeat;
}

.font {
    position: absolute;
    left: 10%;
    top: 39.8%;
    right: 43.4%;
    bottom: 50%;
    font-size: 2.20vw;
    color: white;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.16);
}

.font1 {
    position: absolute;
    left: 10%;
    top: 53.3%;
    right: 59.9%;
    bottom: 43.7%;
    font-size: 1.02vw;
    color: white;
    font-weight: lighter;
    font-family: 'Roboto', sans-serif;
    text-shadow: 1px 1px 16px rgba(0, 0, 0, 0.16);
}

.font2 {
    position: absolute;
    left: 42.3%;
    top: 81%;
    right: 42.3%;
    bottom: 43.7%;
    font-size: 1.4vw;
    color: white;
    font-weight: bold;
    font-family: 'Roboto Slab', serif;
    text-shadow: 1px 1px 16px rgba(0, 0, 0, 0.16);
}
